//header
header .logIN_Area .deco .icon {
    background: url(../img/icon/loginICON.png) no-repeat center;
    background-size: 100%;
}

header .bottom .center li:nth-of-type(2) p::before,
header .bottom .center li:nth-of-type(3) p::before,
header .bottom .center li:nth-of-type(4) p::before,
header .bottom .center li:nth-of-type(5) p::before,
header .bottom .center li:nth-of-type(6) p::before {
    background: url(../img/icon/arrow.png) no-repeat center;
}

//mainWrap
.mainWrap .top li {
    background: url(../img/gameTypeNav.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .lideco,
.mainWrap .fakedeco {
    background: url(../img/icon/hover_arrow.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock.sport {
    background: url(../img/entrance/sport.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .mainObject.b36 {
    background: url(../img/entrance/sport_b36.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .toplayer.sport {
    background: url(../img/entrance/sport_top.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock.live {
    background: url(../img/entrance/live.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .mainObject.pp {
    background: url(../img/entrance/live_pp.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .mainObject.wm {
    background: url(../img/entrance/live_wm.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .mainObject.sa {
    background: url(../img/entrance/live_sa.png) no-repeat center;
    background-size: 100%;
}
.mainObject.live span {
    background: url(../img/entrance/live_deco.png) no-repeat center;
    background-size: 100%; 
}
.mainWrap .gameBlock .toplayer.live {
    background: url(../img/entrance/live_top.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock.fish {
    background: url(../img/entrance/fish.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .mainObject.jili {
    background: url(../img/entrance/fish_jili.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .toplayer.fish {
    background: url(../img/entrance/fish_top.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock.board {
    background: url(../img/entrance/board.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .mainObject.rela {
    background: url(../img/entrance/board_rela.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .mainObject.rsg {
    background: url(../img/entrance/board_rsg.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock.board .rsgbg {
    background: url(../img/entrance/board_rsg_deco.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .mainObject.pg {
    background: url(../img/entrance/board_pg.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .toplayer.board {
    background: url(../img/entrance/board_top.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock.slot {
    background: url(../img/entrance/slot.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .mainObject.ifun {
    background: url(../img/entrance/slot_ifun.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .mainObject.ifun span{
    background: url(../img/entrance/slot_ifun_deco.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .mainObject.png {
    background: url(../img/entrance/slot_png.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock.slot .pngbg {
    background: url(../img/entrance/slot_png_deco.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .toplayer.slot {
    background: url(../img/entrance/slot_top.png) no-repeat center;
    background-size: 100%;
}


//footer
footer .socailBTN .line {
    background: url(../img/icon/line.png) no-repeat center;
    background-size: 100%;
}
footer .socailBTN .fb {
    background: url(../img/icon/fb.png) no-repeat center;
    background-size: 100%;
}
footer .socailBTN .twi {
    background: url(../img/icon/twi.png) no-repeat bottom center;
    background-size: 104%;
}
footer .socailBTN .yt {
    background: url(../img/icon/yt.png) no-repeat center;
    background-size: 100%;
}
footer .gcLOGO {
    background: url(../img/gc-logo.png) no-repeat center;
}
.clogo.net {
    background: url(../img/clogo/NETENT.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .brandLOGO.jili,
.clogo.jili {
    background: url(../img/clogo/JILI.png) no-repeat center;
    background-size: 100%;
}
.clogo.sp {
    background: url(../img/clogo/SP.png) no-repeat center;
    background-size: 100%;
}
.clogo.og {
    background: url(../img/clogo/OG.png) no-repeat center;
    background-size: 100%;
}
.clogo.qs {
    background: url(../img/clogo/QUICKSPIN.png) no-repeat center;
    background-size: 100%;
}
.clogo.auxx {
    background: url(../img/clogo/auxx.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .brandLOGO.sa,
.clogo.sa {
    background: url(../img/clogo/sa.png) no-repeat center;
    background-size: 100%;
}
.clogo.elk {
    background: url(../img/clogo/ELK.png) no-repeat center;
    background-size: 100%;
}
.clogo.bluep {
    background: url(../img/clogo/BLUEPRINT.png) no-repeat center;
    background-size: 100%;
}
.clogo.evlout {
    background: url(../img/clogo/EVO.png) no-repeat center;
    background-size: 100%;
}
.clogo.tpg {
    background: url(../img/clogo/TPG.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .brandLOGO.rsg,
.clogo.rsg {
    background: url(../img/clogo/RSG.png) no-repeat center;
    background-size: 100%;
}
.clogo.ag {
    background: url(../img/clogo/AG.png) no-repeat center;
    background-size: 100%;
}
.clogo.player {
    background: url(../img/clogo/4THEPLAYER.png) no-repeat center;
    background-size: 100%;
}
.clogo.ab {
    background: url(../img/clogo/AB.png) no-repeat center;
    background-size: 100%;
}
.clogo.pls {
    background: url(../img/clogo/PLS.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .brandLOGO.pg,
.clogo.pg {
    background: url(../img/clogo/PG.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .brandLOGO.png,
.clogo.png {
    background: url(../img/clogo/PNG.png) no-repeat center;
    background-size: 100%;
}
.clogo.micro {
    background: url(../img/clogo/MG.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .brandLOGO.pp,
.clogo.pp {
    background: url(../img/clogo/PP.png) no-repeat center;
    background-size: 100%;
}
.clogo.redrake {
    background: url(../img/clogo/REDRAKE.png) no-repeat center;
    background-size: 100%;
}
.clogo.gh {
    background: url(../img/clogo/GOLDEN.png) no-repeat center;
    background-size: 100%;
}
.clogo.ygg {
    background: url(../img/clogo/YGG.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .brandLOGO.rela,
.clogo.rela {
    background: url(../img/clogo/RELAX.png) no-repeat center;
    background-size: 100%;
}
.clogo.rt {
    background: url(../img/clogo/REDTIGER.png) no-repeat center;
    background-size: 100%;
}
.clogo.bng {
    background: url(../img/clogo/BNG.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .brandLOGO.wm,
.clogo.wm {
    background: url(../img/clogo/WM.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .brandLOGO.b36,
.clogo.b36 {
    background: url(../img/clogo/36588.png) no-repeat center;
    background-size: 100%;
}
.mainWrap .gameBlock .brandLOGO.ifun,
.clogo.ifun {
    background: url(../img/clogo/IFUN.png) no-repeat center;
    background-size: 100%;
}
.clogo.ely {
    background: url(../img/clogo/ELY.png) no-repeat center;
    background-size: 100%;
}
.clogo.nolimt {
    background: url(../img/clogo/NOLIMIT.png) no-repeat center;
    background-size: 100%;
}
.clogo.evo {
    background: url(../img/clogo/EVO.png) no-repeat center;
    background-size: 100%;
}
.clogo.dg {
    background: url(../img/clogo/DG.png) no-repeat center;
    background-size: 100%;
}

//bg 
.bg {
    background: url(../img/bg.png) repeat center top;
    background-size: 100%;
}

footer::before {
    background: url(../img/footerBG.png) no-repeat bottom;
    background-size: 100%;
}